*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

.nav {
    background-color: rgb(143, 7, 3);
    width: 100%;
    height: 20%;
}

.nav1 {
    background-color: rgb(70, 6, 6);
    color: #f01e1eda;
    width: 10%;
    height: 20px;
     border-radius: 6px;
     margin: 5px;
     cursor: pointer;
}

.nav2 {
    display: flex;
    justify-content: end;
    background-color: black;
    margin: 0px;
}

.nav2 button {
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    background-color: #f01e1eda;
    color: rgb(70, 6, 6);
}

.nav2 select {
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    background-color: #f01e1eda;
}

#menu{
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
}
#menu button {
    justify-content: center;
    margin-left: 50px;
    display: inline;
    justify-content: center;
}

header{
    background-color: aqua;
}
li {
    color: green;
}

#fondo {
    
    background-image: url(close.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    
}

#logo {
    padding-top: 50px;
    padding-left: 120px;
    font-size:xx-large;
    color: green;
    font-family: arial, sans-serif;
    color: rgb(216, 232, 233);
    text-shadow: 2px 2px #0b6294da;
    display: flex;
    justify-content: center;
    min-width: 250px;
    min-height: 300px;
}


#logo1 {
    display: flex;
    justify-content: center;
    padding-right: 250px;
    padding-top: 190px;
}

#header  section{
    width: 25px;
    height: 100%;
    background-color: red;
    display: inline;
}

input {
    background-color: rgb(39, 7, 99);
    color: rgb(247, 236, 236);
}

#registro {
    margin-right: 20px;
}

.secciones {
    background-color: brown;
    margin: 0%;
    padding: 0%;   
}


.buscando {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: auto;
    
}

.buscando img {
    width: 200px; height: 250px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    min-width: 250px;
}

.buscando img:hover {
    box-shadow: 0 5px 10px 5px rgba(0,0,0,1);
    transform: translateY(-3%);
}

.input {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.footer {
    background-color: black;
    color: aquamarine;
    padding: 6px 12px;
    cursor: pointer;
}



