*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

body {
    background-color: black;
}

.container {
    width: 100%;
    height: 100px;
    background-color: #701a05da;
    margin: 0%;
    padding: 0%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container .elementos {
    display: inline-block;
}

.container .elementos  button {
    background-color: #09d41ada;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}

.container select{
    background-color: #09d41ada;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.container #button1 {
    border-radius: 6px;
    align-items: center;
}

.container a {
    text-decoration: none;
}

header{
    background-color: aqua;
}
li {
    color: green;
}

#fondo {
    
    background-image: url(close.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    
}

#logo {
    padding-top: 50px;
    padding-left: 120px;
    font-size:xx-large;
    color: green;
    font-family: arial, sans-serif;
    color: rgb(216, 232, 233);
    text-shadow: 2px 2px #0b6294da;
    display: flex;
    justify-content: center;
    min-width: 250px;
    min-height: 300px;
}


#logo1 {
    display: flex;
    justify-content: center;
    padding-right: 250px;
    padding-top: 190px;
}

#header  section{
    width: 25px;
    height: 100%;
    background-color: red;
    display: inline;
}

input {
    border-radius: 10px;
    margin: 15px;
    width: 75px;
    height: 40px;
    background-color: #490503da;
    color: #09d41ada;
    cursor: pointer;
}

#input1 {
    border-radius: 10px;
    margin: 15px;
    width: 130px;
    text-justify: center;
}

#registro {
    margin-right: 20px;
}

.secciones {
    background-color: brown;
    margin: 0%;
    padding: 0%;   
}


.buscando {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    overflow: auto;
    background-color: rgb(49, 3, 3);
    }

.buscando img {
    width: 200px; height: 250px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    min-width: 250px;
}

.buscando img:hover {
    box-shadow: 0 5px 10px 5px rgba(0,0,0,1);
    transform: translateY(-5%);
}

.input {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.footer {
    background-color: black;
    color: aquamarine;
    padding: 6px 12px;
    cursor: pointer;
}



