*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container-fluid {
    background-color: rgba(218, 83, 83, 0.829);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid .log {
    color: #490707da;
    transition: 2s;
    cursor: pointer;
    animation: elementoLogo 3s;

}

.nav {
    background-color: rgba(218, 83, 83, 0.829);
    opacity: 65%;
    margin: 3px;
    display: flex;
    height: 30%;

}

.btn {
    background-color: rgba(218, 83, 83, 0.829);
    opacity: 65%;
    color: white;
    transition: 1.5s;
    
}
s
.btn:hover {
    background-color: rgba(101, 9, 223, 0.5);
    color: rgb(223, 230, 233);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.fondo {
    background-image: url(./img-fondo/fondo.jpg);
    opacity: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
    width: 100%;
    height: 80vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
   }


.fondo .texto {

    color: rgb(12, 12, 71, 70%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 45px;
    border-radius: 10px;
    background: radial-gradient(#eff1ef, #0425230c)

}



input {
    border-radius: 7%;
    margin: 15px;
    width: 120px;
    height: 50px;
    background-color: #0425230c;
    color: black;
    cursor: pointer;
    
}

#input1 {
    border-radius: 7%;
    margin: 15px;
    width: 500px;
    height: 50px;
    text-align: center;
    
    background-color: rgb(55, 56, 56);
    opacity: 70%;
}

#registro {
    margin-right: 20px;
}

.seccion {
    background-color: #490707da;
}



.input {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.main {
    background:radial-gradient(rgba(92, 91, 91, 0.829),rgb(39, 17, 17));
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    

}

.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}


.container.card {
    background-color: rgba(92, 91, 91, 0.829);
    
}

.card {
    border: solid 1px black;
    border-radius: 15px;
    opacity: 60%;
    box-shadow: 5px 5px 10px rgb(136, 131, 131);
    transition: 2s;
}

.card:hover {
    box-shadow: 15px 15px 20px #490707da;
    border: solid 1.5px white;
    opacity: 100%;
}

.card img {
    width: 100%;
    height: 350px;border-radius: 15px 15px 0px 0px;

}


.card-body {
    background-color: rgba(218, 83, 83, 0.829);
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: solid 1px black;
    transition: 3s;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    border: solid 1px black;
}


.btn-primary {
    background-color: rgb(55, 56, 56);
    opacity: 70%;
    border-radius: 15%;
    border: solid 0.7px black;

    
}

.footer {
    background-color: rgba(218, 83, 83, 0.829);
    color: black;
    padding: 6px 12px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.btn-1 a {
    text-decoration: none;
    color: white;
    transition: 2s;
}

.btn-1 a:hover {
    color: black;
}

